# ストリーミングアプリフレームワーク
streamlit==1.41.1

# データ可視化ライブラリ
seaborn==0.13.2
plotly==6.0.0

# 機械学習ライブラリ
scikit-learn==1.6.1

# 再試行ライブラリ
retry==0.9.2

# MongoDBデータベースドライバ
pymongo==4.10.1

# コード静的解析ツール
pylint==3.3.4

# データバリデーションと設定管理ライブラリ
pydantic==2.10.6

# Playwrightブラウザ自動化のステルスプラグイン
playwright-stealth==1.0.6

# 自然言語処理ライブラリ
nltk==3.9.1
langdetect==1.0.9  # 言語検出ライブラリ

# ロギングライブラリ
loguru==0.7.3

# HTML/XMLパーサー
beautifulsoup4==4.13.3

# タスクスケジューリングライブラリ
APScheduler==3.11.0

# 非同期I/Oライブラリ
anyio==4.8.0

# テストライブラリ
pytest==8.3.4